@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.cdnfonts.com/css/vogue-2");
@import url("https://fonts.cdnfonts.com/css/sageffine");

@font-face {
  font-family: Vogue;
  src: url(../assets/one_page/fonts/Vogue.ttf);
}

body {
  margin: 0;
  padding: 0;
  background-color: #eceaea;
  font-family: "Times New Roman", serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ant-drawer-body {
  padding: 0 !important;
}

.btn-presence {
  background-color: #bcc2af;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
  margin-top: 30px;
  max-width: 250px;
  font-family: "Vogue", sans-serif;
  font-size: 25px;

  &:hover {
    background-color: #a2a98f;
  }
}
/*
.header {
  display: flex;
  justify-content: center;
  text-align: center;
  font-family: "Vogue", sans-serif;

  img {
    height: 600px;
  }

  .header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;

    .title {
      font-family: "Arsen", sans-serif;
      font-weight: lighter;
      font-size: 50px;
    }

    .welcoming {
      font-family: Vogue;
      font-weight: 200;
      font-size: 28px;
      line-height: 33px;
    }

    .date {
      padding-top: 25px;
      font-size: 25px;
      .day {
        font-weight: bold;
      }
    }
  }
}*/

.header {
  display: flex;
  position: relative; // Needed for absolute positioning of the image
  justify-content: center; // This centers the text block horizontally
  align-items: center; // Aligns items vertically
  font-family: "Vogue", sans-serif;
  height: 100vh; // Optional: Adjust based on your design
  width: 100%; // Ensures the header spans the full width

  .header-texts {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1; // Ensures text is above the image if overlapping occurs
  }

  img {
    position: absolute;
    right: 0; // Positions the image at the right edge of the container
    height: 600px;
    width: auto; // Adjust width automatically based on height
  }
}

.title,
.welcoming,
.date {
  text-align: center; // Ensures text is centered within their blocks
}

.title {
  font-family: "Arsen", sans-serif;
  font-weight: lighter;
  font-size: 50px;
}

.welcoming {
  font-family: Vogue;
  font-weight: 200;
  font-size: 28px;
  line-height: 33px;
}

.date {
  padding-top: 25px;
  font-size: 25px;
  .day {
    font-weight: bold;
  }
}

.content {
  width: 80%;
  margin: 100px auto;
  padding: 40px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center;
  margin-top: 0;

  .mosaic {
    width: 100%;
  }
  h1,
  p {
    margin-top: 0;
    color: #000000;
  }

  .map-container {
    .maps-embeded {
      height: 50vh;
      border-radius: 10px;
    }
  }
}
